* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: "iransans";
  src: url("../fonts/iransans.ttf"); }
@font-face {
  font-family: "vazircode";
  src: url("../fonts/vazircode.ttf"); }
@font-face {
  font-family: "roboto";
  src: url("../fonts/roboto.ttf"); }
@font-face {
  font-family: "vazir";
  src: url("../fonts/vazir.ttf"); }
html,
body {
  min-height: 100%;
  height: 100%; }

body {
  display: flex;
  align-items: center;
  flex-direction: column; }

.logo {
  font-size: 130px;
  font-family: "iransans", IRAN Sans;
  color: #4d4d4d;
  padding-top: 100px; }
  .logo div {
    display: flex;
    align-items: center; }
    .logo div img {
      margin: 20px; }

#alert .noty_body {
  font-family: "vazircode", Vazir Code, "roboto", Roboto;
  font-size: 20px;
  text-align: center; }

.search-input {
  width: 40%;
  font-family: "vazir", Vazir, "roboto", Roboto;
  font-size: 20px;
  outline: 0;
  border-radius: 50px;
  padding: 10px 20px;
  border: 0;
  box-shadow: 0 0 2px #000;
  margin: 30px;
  margin-bottom: 0; }
  .search-input:focus {
    box-shadow: 0 0 5px #4d4d4d; }

.btn {
  font-family: "roboto", Roboto;
  font-size: 23px;
  padding: 7px;
  color: #4d4d4d;
  cursor: pointer;
  margin: 10px 5px; }

#mcursor {
  position: absolute;
  transition: all 3s;
  top: 0;
  left: 0; }

#result {
  width: 40%;
  align-self: center;
  margin-top: 50px;
  display: none;
  flex-direction: column; }
  #result #resultUrl {
    width: 100%;
    margin: 0 auto;
    text-align: center !important;
    font-weight: bolder;
    color: #4d4d4d; }
  #result .buttons {
    display: flex;
    justify-content: center; }
    #result .buttons .btn {
      font-family: "iransans", IRAN Sans; }

#info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "vazircode", Vazir Code;
  font-size: 30px;
  background: #bbe6f6;
  border: 3px solid #0099CC;
  padding: 10px;
  border-radius: 4px;
  opacity: 0; }

.main-footer {
  width: 100%;
  text-align: center;
  margin-top: 30px; }
  .main-footer img {
    width: 150px; }

@media only screen and (max-width: 1200px) {
  .logo {
    font-size: 100px; }
    .logo img {
      width: 350px; }

  .search-input {
    width: 50%; }

  #result {
    width: 50%; } }
@media only screen and (max-width: 800px) {
  .logo {
    font-size: 60px; }
    .logo img {
      width: 250px; }

  .search-input {
    width: 60%;
    font-size: 15px;
    padding: 7px 14px; }

  #result {
    width: 60%; }

  .btn {
    font-size: 18px;
    padding: 4px; }

  .main-footer img {
    width: 100px; }

  #info {
    font-size: 20px; } }
@media only screen and (max-width: 550px) {
  .logo {
    font-size: 50px; }
    .logo img {
      width: 180px;
      margin: 10px !important; }

  .search-input {
    width: 70%; }

  #result {
    width: 70%; } }
@media only screen and (max-width: 400px) {
  .logo {
    font-size: 40px; }
    .logo img {
      width: 140px; }

  .search-input {
    font-size: 10px; }

  #info {
    font-size: 15px; } }

/*# sourceMappingURL=style.css.map */
